# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/

# Environment variables (NUNCA subir)
.env

# =========================
# Outputs gerados
# =========================
outputs/
*.faiss
*.pkl

# =========================
# Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Test / cache
# =========================
.pytest_cache/
.cache/

# =========================
# Build / distribuição
# =========================
dist/
build/
*.egg-info/
